<mat-card *ngIf="product" [ngClass]="{'text-center' : !fullWidthMode}">
    <div [ngClass]="{flex: fullWidthMode}">
        <img class="mb-1 mx-auto h-[200px]" src="{{product.image}}"
            [ngClass]="{'h-200px' : !fullWidthMode, 'h-[360px]' : fullWidthMode}" />
        <div class="w-full" [ngClass]="{'px-8 flex flex-col justify-between' : fullWidthMode}">
            <div>
                <h5>{{product.category}}</h5>
                <p class="truncate hover:whitespace-normal">{{product.title}}</p>
                <p *ngIf="fullWidthMode">{{product.description}}</p>
            </div>
            <div class="flex justify-between">
                <span class="text-red-400">{{product.price | currency}}</span>
                <button (click)="onAddToCart()">
                    <mat-icon class="text-gray-500">shopping_cart</mat-icon>
                </button>

            </div>
        </div>

    </div>


</mat-card>