<mat-expansion-panel *ngIf="categories">
    <mat-expansion-panel-header>
      <mat-panel-title> CATEGORIES </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-selection-list [multiple]="false">
      <mat-list-option (click)="onShowCategory(category)" *ngFor="let category of categories" [value]="category"> {{ category }} </mat-list-option>
    </mat-selection-list>
  </mat-expansion-panel>