<mat-card class="max-w-7xl mx-auto" *ngIf="cart.items.length">
    <table mat-table [dataSource]="dataSource" class="mat-elevetaion-z8 w-full">
        <ng-container matColumnDef="img">
            <th mat-header-cell *matHeaderCellDef>Product</th>
            <td mat-cell *matCellDef="let element">
                <img src="{{element.img}}" alt="img-product" class="w-[100px] my-5" />
            </td>
            <td mat-footer-cell *matFooterCellDef>
                <button mat-raised-button routerLink="/home">Continue shopping</button>
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">
                <span class="truncate max-w-xs block"> {{element.name}}</span>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let element">
                {{element.price | currency}}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Quantity</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="onRemoveQuantity(element)" >
                    <mat-icon>remove</mat-icon>
                </button>
                <span> {{element.quantity}}</span>
                <button mat-icon-button (click)="onAddQuantity(element)">
                    <mat-icon>add</mat-icon>
                </button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>Total</th>
            <td mat-cell *matCellDef="let element">
                {{(element.quantity * element.price | currency)}}
            </td>
            <td mat-footer-cell *matFooterCellDef>
                <span class="font-bold py-5 block">
                    {{ getTotal(cart.items) | currency}}
                </span>
            </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
                <button (click)="onClearCart()" mat-raised-button color="warn" class="float-right">
                    Clear All
                </button>
            </th>
            <td mat-cell *matCellDef="let element">
                <button (click)="onRemoveFromCart(element)" mat-mini-fab color="warn" class="float-right"><mat-icon>close</mat-icon></button>
            </td>
            <td mat-footer-cell *matFooterCellDef>
                <button color="primary" mat-raised-button class="float-right"> Proceed To Checkout</button>
            </td>
        </ng-container>





        <tr mat-header-row *matHeaderRowDef="dispalyedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns:dispalyedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="dispalyedColumns"></tr>


    </table>
</mat-card>
<mat-card *ngIf="!cart.items.length">
    <p>
        Your cart is empty.
        <button mat-raised-button routerLink="/home">Start shopping</button>
    </p>
</mat-card>